<h1>Hello! Welcome to MyIronSpace</h1>

<form method="GET" action="/users">
  <label for="exampleFormControlInput1" class="form-label">Search users</label>
  <input type="text" name="users" class="form-control" id="exampleFormControlInput1" placeholder="Type users name">
</form>