<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.age}} years old</h6>
    <p class="card-text">{{user.aboutMe}}</p>
  </div>
</div>